.inputForm {
  width: 100%;

  &__input {
    display: block;
    width: 100%;
    border-bottom: 1px solid $blue;
    margin-bottom: 16px;
    padding-bottom: 6px;

    &::placeholder {
      font-size: 13px;
      line-height: 13px;
      color: #1e1e1e;
      padding: 7px 0;
    }
  }

  &__label {
    display: block;
    font-size: 9px;
    line-height: 9px;
    color: #999999;
    margin-bottom: 8px;
  }
}
