<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/index.scss" />
</head>

<body>
    <main>
        <div class="profile">
            <div class="profile__side">
                <button class="profile__arrowBack">
                    <img src="/src/shared/assets/arrowBack.svg" alt="arrow back">
                </button>
            </div>
            <div class="profile__main">
                <div class="profile__avatar">
                    <img src="/src/shared/assets/avatarMain.svg" alt="avatar">
                </div>
                <div class="profile__name">Иван</div>
                <ul class="profile__list">
                    <li class="profile__info"><span class="profile__key">Почта</span> <span
                            class="profile__value">pochta@yandex.ru</span></li>
                    <li class="profile__info"><span class="profile__key">Логин</span> <span
                            class="profile__value">ivanivanov</span></li>
                    <li class="profile__info"><span class="profile__key">Имя</span> <span
                            class="profile__value">Иван</span></li>
                    <li class="profile__info"><span class="profile__key">Фамилия</span> <span
                            class="profile__value">Иванов</span></li>
                    <li class="profile__info"><span class="profile__key">Имя в чате</span> <span
                            class="profile__value">Иван</span></li>
                    <li class="profile__info"><span class="profile__key">Телефон</span> <span class="profile__value">+7
                            (909) 967 30 30</span>
                    </li>
                </ul>
                <div class="profile__settings">
                    <button class="link profile__setting">Изменить данные</button>
                    <button class="link profile__setting">Изменить пароль</button>
                </div>
                <button class="profile__exit">Выйти</button>
            </div>
        </div>
    </main>
</body>

</html>