$blue: #3369f3;
$black: #1e1e1e;
$white: #ffffff;
$gray: #999999;
$lightGray: #efefef;

$border: #eaeaea;

$backgroundMain: #fdfdfd;
$backgroundSecond: #fbfbfb;
$backgroundMyMessage: #e4edfd;
$backgroundContactMessage: #f8f8f8;
